.loading-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}


.cyber-tile {
    --tile-width: 360px;
    --tile-padding: 4px;
    --tile-edges: 20px;
    --label-margins: calc(var(--tile-edges) - var(--tile-padding));
    --og-clip-path: polygon(0 0, 0 calc(100% - var(--tile-edges)), var(--tile-edges) 100%, 100% 100%, 100% var(--tile-edges), calc(100% - var(--tile-edges)) 0);
    width: var(--tile-width);
    min-height: 60px;
    clip-path: var(--og-clip-path);
    padding: var(--tile-padding);
    padding-bottom: var(--tile-edges);
    background: #446d44;
    cursor: pointer;

    animation: cyber-glitch-2 4s linear infinite;

    label {
      cursor: pointer;
      font-family: 'Blender Pro Book';
      display: block;
      color: var(--color-white);
      margin: var(--label-margins) var(--label-margins) 0;
      line-height: 1.5rem;
      white-space: pre-line;
    }
}



@keyframes cyber-glitch-2 {
0% {
    clip-path: var(--og-clip-path);
    transform: translateX(0);
    text-shadow: none;
  }

  2% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(0);
    text-shadow: var(--color-cyan) 1px 1px, var(--color-yellow) -1px -1px;
  }

  4% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(-1rem);
    text-shadow: var(--color-cyan) 1px 1px, var(--color-yellow) -1px -1px;
  }

  6% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(1rem);
    text-shadow: var(--color-cyan) 1px 1px, var(--color-yellow) -1px -1px;
  }

  8% {
    clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
    transform: translateX(0);
    text-shadow: var(--color-cyan) 1px 1px, var(--color-yellow) -1px -1px;
  }

  12% {
    clip-path: polygon(0 10%, 0 40%, 100% 40%, 100% 10%);
    transform: translateX(0);
    text-shadow: var(--color-cyan) 1px 1px, var(--color-yellow) -1px -1px;
  }

  14% {
    clip-path: var(--og-clip-path);
    transform: translateX(0);
    text-shadow: none;
  }

  100% {
    clip-path: var(--og-clip-path);
    transform: translateX(0);
    text-shadow: none;
  }

}